body{
   background-color:#f6f8f9; 

}
.toboolist{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    vertical-align: super;
}
.container{
    width: 70%;
    margin: auto;
}
.bottoni{
    margin-top: 50px;
}
.bottoneblu{
    width: 100px;
    height: 40px;
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
    border-radius: 10%;
    cursor: pointer;
}
.bottonebianco{
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: #d4d8dc;
    border: 1px solid #d4d8dc;
    border-radius: 10%;
    cursor: pointer;

}
.selettore{
    font-size: 40px;
}
.grassetto{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    margin-bottom: 0;
}
.check{
    background-color: #fff;
    color: #92d4c4;
    border: 1px solid #92d4c4;
    border-radius: 50%;
    
}
.paragrafo{
    display: inline;
    margin: 10px;
    font-size: 25px;
    vertical-align: middle;
}
.lista{
    width: 80px;
   height: 30px;
   border-radius: 22%;
}
.blu{
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}
.viola{
    background-color: #9c72e4;
    color: white;
    border: 1px solid #9c72e4;
}
.x{
    background-color: #fff;
    color: #ec574d;
    border: 1px solid #ec574d;
    border-radius: 50%;
    
}
.verde{
    background-color: #64c0a9;
    color: #fff;
    border: 1px solid #64c0a9;
}
.arancione{
    background-color: #f29e33;
    color: #fff;
    border: 1px solid #f29e33;
}
.rosa{
    background-color: #d863a1;
    color: #fff;
    border: 1px solid #d863a1;
}
.giallo{
    background-color: #b0c926;
    color: #fff;
    border: 1px solid #b0c926;
}
